.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media all and (min-width: 1200px) and (max-width: 2000px){
  .jumbotron{
    height: 280px;
    border: 1px solid black;
    background-image: url(./images/main_fontb.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    color: white;
    font-family: Arial;
    text-align: center;
  }
  .info{
    margin-top: 70px;
  }
  
  
  .myimage{
    height: 330px;
  }
  .myimage img{
    width: 100%;
    height: 330px;
  }
  .details{
    height: 200px;
    width: 450px;
    margin-top: -35px;
  }
  .navbar-nav{
    text-align: center;
    margin-left: 340px;
    font-weight: bold;
    color: black;
  
  }
  .navbar-nav a{
    color: black;
    cursor: pointer;
  }
  .role{
    position: relative;
    font-family: Arial;
    font-size: 14px;
    top:-18px;
    
  }
  .contact{
    position: relative;
    font-family: Arial;
    font-size: 14px;
    top:-10px;
  }
  .role_exp{
    position: relative;
    font-family: Arial;
    font-size: 14px;
    top:-5px;
    
  }
  .name{
  
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    
  
  }
  
  .text{
    position: relative;
    top: -30px;
    font-family: Arial;
    font-size: 12px;
   
  }
  .period{
    margin-top:-10px;
    font-family: Arial;
    font-size: 10px;
    font-weight: bold;
  }
  .text_exp{
    position: relative;
    top: -5px;
    font-family: Arial;
    font-size: 12px;
    white-space: pre-line;
  }
  .btn-primary{
    background-color: #154399;
    border: none;
    font-family: Arial;
    font-size:10px;
  }
  .btn-primary:hover{
    background-color: #154399;
   
    
  }
  .button-cv{
    position: relative;
    background-color: #f8f9fa;
    color: #154399;
    border: 1px solid #154399;
    top: 200px;
    font-size: 15px;
  }
  .dropdown-divider{
    width: 25%;
    height: 2px;
    background-color: #154399;
  }
  
  .details{
    overflow: scroll;
  }
  .details a{
    color: black;
    text-decoration: none;
  }
  /* width */
  ::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f8f9fa; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #26395d; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #f8f9fa; 
  }
}
@media all and (min-width: 500px) and (max-width: 1000px){
  .jumbotron{
    height: 200px;
    border: 1px solid black;
    background-image: url(./images/main_fontb.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    color: white;
    font-family: Arial;
    text-align: center;
  }
  .info{
    margin-top: 20px;
  }
  .navbar-nav a{
    cursor: pointer;
  }
  
  .myimage{
    height: 230px;
  }
  .myimage img{
    width: 100%;
    height: 230px;
  }
  .details{
    height: 130px;
    width: 450px;
    margin-top: -35px;
  }
  .navbar-nav{
    text-align: center;
    margin-left: 90px;
    font-weight: bold;
    color: black;
  
  }
  .navbar-nav a{
    color: black;
  }
  .role{
    position: relative;
    font-family: Arial;
    font-size: 16px;
    top:-18px;
    
  }
  .contact{
    position: relative;
    font-family: Arial;
    font-size: 16px;
    top:-10px;
  }
  .role_exp{
    position: relative;
    font-family: Arial;
    font-size: 16px;
    top:-5px;
    
  }
  .name{
  
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    
  
  }
  
  .text{
    position: relative;
    top: -30px;
    font-family: Arial;
    font-size: 14px;
   
  }
  .period{
    margin-top:-10px;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
  }
  .text_exp{
    position: relative;
    top: -5px;
    font-family: Arial;
    font-size: 14px;
    white-space: pre-line;
  }
  .btn-primary{
    background-color: #154399;
    border: none;
    font-family: Arial;
    font-size:10px;
  }
  .btn-primary:hover{
    background-color: #154399;
   
    
  }
  .button-cv{
    position: relative;
    background-color: #f8f9fa;
    color: #154399;
    border: 1px solid #154399;
    top: 120px;
    font-size: 15px;
  }
  .dropdown-divider{
    width: 25%;
    height: 2px;
    background-color: #154399;
  }
  
  .details{
    overflow: scroll;
  }
  .details a{
    color: black;
    text-decoration: none;
  }
  /* width */
  ::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f8f9fa; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #26395d; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #f8f9fa; 
  }
}
@media all and (min-width: 0px) and (max-width: 499px){
  .jumbotron{
    height: 200px;
    border: 1px solid black;
    background-image: url(./images/main_fontb.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    color: white;
    font-family: Arial;
    text-align: center;
  }
  .info{
    margin-top: 20px;
  }
  .navbar-nav a{
    cursor: pointer;
  }
  
  .myimage{
    height: 230px;
  }
  .myimage img{
    width: 100%;
    height: 230px;
  }
  .details{
    height: 130px;
    width: 450px;
    margin-top: -35px;
  }
  .navbar-nav{
    text-align: center;
    margin-left: 50px;
    font-weight: bold;
    color: black;
  
  }
  .navbar-nav a{
    color: black;
  }
  .role{
    position: relative;
    font-family: Arial;
    font-size: 16px;
    top:-18px;
    
  }
  .contact{
    position: relative;
    font-family: Arial;
    font-size: 16px;
    top:-10px;
  }
  .role_exp{
    position: relative;
    font-family: Arial;
    font-size: 16x;
    top:-5px;
    
  }
  .name{
  
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    
  
  }
  
  .text{
    position: relative;
    top: -30px;
    font-family: Arial;
    font-size: 14px;
   
  }
  .period{
    margin-top:-10px;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
  }
  .text_exp{
    position: relative;
    top: -5px;
    font-family: Arial;
    font-size: 14px;
    white-space: pre-line;
  }
  .btn-primary{
    background-color: #154399;
    border: none;
    font-family: Arial;
    font-size:10px;
  }
  .btn-primary:hover{
    background-color: #154399;
   
    
  }
  .button-cv{
    position: relative;
    background-color: #f8f9fa;
    color: #154399;
    border: 1px solid #154399;
    top: 120px;
    font-size: 15px;
  }
  .dropdown-divider{
    width: 25%;
    height: 2px;
    background-color: #154399;
  }
  
  .details{
    overflow: scroll;
  }
  .details a{
    color: black;
    text-decoration: none;
  }
  /* width */
  ::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f8f9fa; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #26395d; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #f8f9fa; 
  }
}